* {
  padding: 0;
  margin: 0;
}

.first-metric-container {
  height: 100%;
  max-width: 73%;
  overflow-x: auto;
  font-family: "Roboto", sans-serif;
}

.second-metric-container {
  padding-top: 65px;
  font-size: 15px;
  height: 100%;
  width: 25%;
  position: absolute;
  z-index: 1;
  top: 0;
  right: 0;
  overflow-x: auto;
  background: #fff;
  box-shadow: 3px 1px 5px 0px rgba(33, 34, 44, 0.37);
  border-radius: 1px;
  border: 10px solid rgba(255, 255, 255, 0.18);
  font-family: "Roboto", sans-serif;
}

.interview-table {
  font-size: 15px;
  min-height: 250px;
  width: 100%;
  margin: 20px 0px 20px 0px;
  border: 1px solid #e5e5e5;
  box-shadow: 3px 1px 8px 0px rgba(33, 34, 44, 0.37);
  border-radius: 1px;
  font-family: "Roboto", sans-serif;
}

.event-list {
  padding: 50px 0px 40px 0px;
  font-family: "Roboto", sans-serif;
}

.event-head {
  background: #e5e5e5;
  font-family: "Roboto", sans-serif;
}

.table-head {
  padding: 10px 0px 10px 10px;
  box-shadow: 3px 1px 5px 0px rgba(33, 34, 44, 0.37);
  border-radius: 1px;
  border: 10px solid rgba(255, 255, 255, 0.18);
  font-family: "Roboto", sans-serif;
}

.time {
  font-family: "Roboto", sans-serif;
  font-size: 12px;
}

.interview_filler {
  color: #bbbb;
  text-align: center;
  padding: 0px;
  font-size: 20px;
  background: #fff;
}
