.tab-container {
  font-family: "Roboto", sans-serif;
  font-size: 15px;
}

.higherdiv {
  background: #fff;
}

.tab_head a {
  color: #000;
  text-decoration: none;
}

.jobs_container {
  padding-top: 20px;
  background: #fff;
  display: flex;
  flex-direction: row;
  position: relative;
}

.jobs_container > div {
  margin: 20px 10px 0px 10px;
  background: #fff;
}

.spinner_container {
  padding: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fff;
}

.interview_button {
  padding: 5px 10px 5px 10px;
  border-radius: 1px;
  border: 1px solid #f3904f;
  font-family: "Roboto", sans-serif;
  font-size: 13px;
  background: #f3904f;
  color: #fff;
}

.interview_button:hover {
  transition: 0.5s ease;
  background-color: #5885af;
  border: 1px solid #5885af;
}

.reject_button {
  padding: 5px 10px 5px 10px;
  border-radius: 1px;
  border: 1px solid #2a1b3d;
  font-family: "Roboto", sans-serif;
  font-size: 13px;
  background-color: #2a1b3d;
  color: #fff;
}

.reject_button:hover {
  transition: 0.5s ease;
  background-color: #d83f87;
  border: 1px solid #d83f87;
}

.someButton {
  height: 45px;
  width: 150px;
  font-size: 15px;
  text-align: center;
  border-radius: 0;
  border: 1px solid #274472;
  background-color: #274472;
  font-family: "Montserrat", sans-serif;
  color: #d9d9d9;
  margin: 5px;
}

.someButton:hover {
  transition: 0.5s ease;
  background-color: #5885af;
  border: 1px solid #5885af;
}

.add_posting {
  text-align: right;
}

.recruitment_modal_Style {
  position: relative;
  overflow-y: scroll;
  overflow-x: hidden;
  display: block;
  width: 100%;
  height: 100vh;
  padding: 20px 150px 20px 50px;
  margin: 0px 0px 0px 0px;
  background: white;
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  border-radius: 2px;
  border: 1px solid rgba(153, 146, 146);
  font-family: "Roboto", sans-serif;
  z-index: 1;
}

.recruitment_modal_Style label {
  font-size: 16px;
}

.recruitment_modal_Style button {
  margin: 10px 5px 10px;
}

.recruitment_modal_Style p {
  padding: 5px;
  font-size: 12px;
}

.filler {
  color: #bbbb;
  text-align: center;
  padding: 10% 0px 0px 0px;
  font-size: 20px;
  background: #fff;
}

.icon {
  font-size: 70px;
}

.card_below {
  margin: 20px;
  position: relative;
  z-index: 0;
}

.interact_button {
  border-radius: 1px;
  margin: 2px 2px;
}
