.modal_backdrop {
  position: fixed;
  display: flex;
  justify-content: flex-end;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  pointer-events: none;
  opacity: 0;
  transition: opacity 250ms 700ms ease;
}

.visible {
  pointer-events: auto;
  opacity: 1;
  transition: all 300ms ease-in-out;
  position: fixed;
  z-index: 1;
}

.modal_custom {
  color: #000;
  overflow-y: hidden;
  overflow-x: hidden;
  position: relative;
  display: block;
  width: 600px;
  height: 250px;
  margin-top: 5px;
  margin-bottom: 20px;
  padding-bottom: 20px;
  align-self: flex-start;
  background: rgba(255, 255, 255, 0);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(3.5px);
  -webkit-backdrop-filter: blur(3.5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  z-index: 1;
  transform: translate(0px, 0px);
  transition: transform 300ms 250ms ease;
  transform: translate(800px, 0);
}

.visible .modal {
  opacity: 1;
  transform: translate(200px, 0);
  transition: transform 250ms 500ms ease;
}
